@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

.tableOfContents {
    @include media-breakpoint-up(sm) {
        position: relative;
        top: 50px;
        min-width: 264px;
        overflow-y: auto;
        top: calc(var(80) + 1rem);
        border-left: var(--sb-border-thin);
    }
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.tableOfContents ul {
    list-style: none;
}

.tableOfContents ul li a {
    margin-bottom: 10px;
}

.tableOfContents li > ul {
    padding-left: 8px;
}

.active {
    color: var(--sb-blue-500);
}
