.inlineCode {
    display: inline-flex;
    background-color: var(--sb-gray-200);
    border-radius: var(--sb-border-radius-md);
    padding: 0px 20px;
    font-size: var(--sb-text-size-sm);
    color: var(--sb-text);
    margin: 0px;
}
